* {
    overflow-x: hidden;
}

header {
    background-color: white;
    color: green;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 8%;
}

#secondBanner {
    background-color: green;
    color: white;
    width: 100%;
    position: absolute;
    top: 8%;
    left: 0;
    margin: 0;
    height: 5%
}

#newsContainer {
    left: 0;
    width: 80%;
    margin-top: 2%;
    position: absolute;
    top: 13%;
    border-color: green;
    border-left: 3%;
    border-right: 3%;
    border-style: solid;
}
#news1 {
    width: 40%;
    left: 0;
}
#news2 {
    width: 40%;
    left: 40%
}
#websiteNews {
    width: 20%;
    left: 80%;
    margin-top: 2%;
    position: absolute;
    top: 13%;
    border-color: green;
    border-left: 3%;
    border-right: 3%;
    border-style: solid;
}
.news {
    border-top: 1%;
    border-color: green;
    width: 100%;
    border-style: solid;
}
.news-image {
    width: 100%
}
.news-title {
    color: green;
}
.news-content {
    color: gray;
}

