/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

* {
    overflow-x: hidden;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

header {
    background-color: white;
    color: green;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 15%;
}

header a, p {
    color: green;
}

#secondBanner {
    background-color: green;
    color: white;
    width: 100%;
    position: absolute;
    top: 8%;
    left: 0;
    margin: 0;
    height: 10%;
}

#secondBanner a, p {
    color: white;
}

.bannerItem {
    float: right;
    margin-right: 8%;
}

#newsContainer {
    left: 0;
    width: 80%;
    margin-top: 2%;
    position: absolute;
    top: 13%;
    border-color: green;
    border-left: 3%;
    border-right: 3%;
    border-style: solid;
    height: auto;
}
#websiteNews {
    width: 20%;
    left: 80%;
    margin-top: 2%;
    position: absolute;
    top: 13%;
    border-color: green;
    border-left: 3%;
    border-right: 3%;
    border-style: solid;
    height: auto;
}
#news1 {
    width: 50%;
    float: left;
    position: relative;
}
#news2 {
    width: 50%;
    float: left;
    position: relative;
}
.news {
    border-top: 1%;
    border-color: green;
    width: 100%;
    border-style: solid;
}
.news-image {
    width: 100%
}
.news-title {
    color: green;
}
.news-content {
    color: gray;
}

