* {
    overflow-x: hidden;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

header {
    background-color: white;
    color: green;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 15%;
}

header a, p, img {
    color: green;
    font-size: 125%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    top: 7.5%;
    bottom: 7.5%;
}

#secondBanner {
    background-color: green;
    color: white;
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    margin: 0;
    height: 10%;
}

#secondBanner a, p {
    color: white;
    font-size: 125%;
}

.bannerItem {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adArea {
    top: 25%;
    position: absolute;
    height: 20%;
    width: 100%;
    left: 0;
}

#leftAd {
    width: 50%;
    background-color: blue;
    position: relative;
    height: 100%;
    left: 0;
}

#rightAd {
    background-color: red;
    width: 50%;
    position: relative;
    height: 100%;
    right: 50%
}

#newsContainer {
    left: 0;
    width: 80%;
    margin-top: 2%;
    position: absolute;
    border-color: green;
    border-left: 3%;
    border-style: solid;
    height: auto;
    top: 40%;
}

#websiteNews {
    width: 20%;
    left: 80%;
    margin-top: 2%;
    position: absolute;
    top: 40%;
    border-color: green;
    border-left: 3%;
    border-right: 3%;
    border-style: solid;
    height: auto;
}

#news1, #news2 {
    width: 50%;
    float: left;
    position: relative;
}

.news {
    border-top: 1%;
    border-color: green;
    width: 100%;
    border-style: solid;
    height: 30vh;
}

.news-image {
    width: 100%;
}

.news-title {
    color: green;
}

.news-content {
    color: gray;
}

.newsArea h2, #websiteNews h2 {
    margin-left: 2%;
    font-size: 130%;
}

footer {
    background-color: green;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(15% + 10% + 10% + 20% + (30vh * 4));
    height: auto;
}
